{% from "components/tooltip.html" import tooltip %}

{% macro text_input(name, label, value, placeholder="", required=false, readonly=false, tooltip_text="", tooltip_width="w-96", grid_span="") %}
<div class="{{ grid_span }}">
  {% if tooltip_text %}
    <div class="flex items-center">
      <label for="{{ name }}" class="block text-sm font-medium text-gray-700">{{ label }}</label>
      {{ tooltip(tooltip_text, tooltip_width) }}
    </div>
  {% else %}
    <label for="{{ name }}" class="block text-sm font-medium text-gray-700">{{ label }}</label>
  {% endif %}
  
  <input
    type="text"
    class="mt-1 block w-full px-3 py-2 {% if readonly %}bg-gray-100 pr-10{% endif %} border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
    name="{{ name }}"
    id="{{ name }}"
    value="{{ value }}"
    placeholder="{{ placeholder }}"
    {% if required %}required{% endif %}
    {% if readonly %}readonly{% endif %} />
</div>
{% endmacro %} 